<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzdz.ls.db.impl.ManagerMapper">
    <insert id="insert" parameterType="com.hzdz.ls.db.entity.Manager" >
        INSERT INTO manager (managerAccount, password, registerTime, loginTime)
        VALUES (#{managerAccount}, #{password}, #{registerTime}, #{loginTime})
    </insert>

    <select id="login" parameterType="String" resultType="com.hzdz.ls.db.entity.Manager">
        SELECT * FROM manager
        WHERE managerAccount = #{managerAccount}
          AND password = #{password}
    </select>

</mapper>