<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdz.ls.db.impl.SystemManagerMapper">

    <sql id="Base_Column">
        id, userAccount, password, managerType, addTime, lastLoginTime, remarks, frozen
    </sql>
    
    <select id="isRepeat" parameterType="String" resultType="Integer">
        SELECT count(userAccount) FROM SYSTEM_MANAGER
        WHERE userAccount = #{userAccount}
    </select>

    <select id="selectAllManager" resultType="com.hzdz.ls.db.entity.SystemManager">
        SELECT id, userAccount, managerType, addTime, lastLoginTime, remarks, frozen
        FROM SYSTEM_MANAGER WHERE managerType = 0
    </select>

    <insert id="addNewManager" parameterType="com.hzdz.ls.db.entity.SystemManager">
        INSERT INTO SYSTEM_MANAGER (userAccount, password, addTime, managerType, remarks)
        VALUES (#{userAccount}, #{password}, #{addTime}, #{managerType}, #{remarks})
    </insert>

    <update id="updatePassword" parameterType="com.hzdz.ls.db.entity.SystemManager">
        UPDATE SYSTEM_MANAGER set password = #{password}
        WHERE id = #{id}
    </update>

    <update id="frozenManager" parameterType="com.hzdz.ls.db.entity.SystemManager">
        UPDATE SYSTEM_MANAGER set frozen = 1
        WHERE id = #{id}
    </update>

    <update id="resetPassword" parameterType="Integer">
        UPDATE SYSTEM_MANAGER SET password = "123456"
        WHERE id = #{id}
    </update>

    <select id="getManagerByID" parameterType="int" resultType="com.hzdz.ls.db.entity.SystemManager">
        SELECT
        <include refid="Base_Column"/>
        FROM SYSTEM_MANAGER
        WHERE id = #{id}
    </select>
    
    <select id="loginVerify" resultType="com.hzdz.ls.db.entity.SystemManager">
        SELECT
        <include refid="Base_Column"/>
        FROM SYSTEM_MANAGER
        WHERE userAccount = #{userAccount}
        AND password = #{password}
    </select>

    <update id="loginSucceed" parameterType="com.hzdz.ls.db.entity.SystemManager">
        UPDATE SYSTEM_MANAGER
        SET lastLoginTime = #{lastLoginTime}
        WHERE id = #{id}
    </update>

</mapper>
