<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdz.ls.db.entity.SystemActivityModuleMap">

    <sql id="Base_Column">
        id, activityId, moduleId, addTime
    </sql>

    <select id="queryModuleIdsById" parameterType="int" resultType="com.hzdz.ls.db.entity.SystemModule">
        SELECT b.id AS  a.moduleId,  FROM SYSTEM_ACTIVITY_MODULE_MAP a, SYSTEM_MODULE b
        WHERE a.moduleId = b.id AND activityId = #{activityId}
    </select>
</mapper>