<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdz.ls.db.impl.SystemDeviceMapper">

    <sql id="Base_Column">
        id, deviceID, addTime, belongManager, updateTime, status, activityId
    </sql>

    <select id="queryActivityIdByDID" parameterType="String" resultType="Integer">
      SELECT  activityId FROM SYSTEM_DEVICE
      WHERE  deviceId = #{deviceId}
      AND status = 1
    </select>

    <select id="queryDeviceById" parameterType="Integer" resultType="com.hzdz.ls.db.entity.SystemDevice">
        SELECT
        <include refid="Base_Column" />
        FROM SYSTEM_DEVICE
        WHERE  id = #{id}
    </select>

    <insert id="insertDevice" parameterType="com.hzdz.ls.db.entity.SystemDevice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          SYSTEM_DEVICE(deviceId, addTime, updateTime, status)
        VALUES (#{deviceId}, #{addTime}, #{updateTime}, #{status})
    </insert>
    
    <select id="queryDeviceListByManager"  resultType="com.hzdz.ls.db.entity.SystemDevice">
        SELECT 
        <include refid="Base_Column"/>
        FROM SYSTEM_DEVICE
        WHERE 1 = 1
        <if test="managerType == 0">
            AND belongManager = #{belongManager}
        </if>
        <if test="deviceId != null and deviceId != '' ">
            AND deviceId = #{deviceId}
        </if>
    </select>

    <delete id="deleteByid" parameterType="int">
        DELETE FROM SYSTEM_DEVICE
        WHERE id = #{id}
    </delete>

    <update id="allocateDeviceToManager" parameterType="com.hzdz.ls.db.entity.SystemActivityModuleMap">
        UPDATE SYSTEM_DEVICE SET belongManager = #{belongManager}, updateTime = #{updateTime}
        WHERE id = #{id}
    </update>

    <update id="allocateActivityToDevice" parameterType="com.hzdz.ls.db.entity.SystemActivityModuleMap">
        UPDATE SYSTEM_DEVICE SET updateTime = #{updateTime}, status = #{status}, activityId = #{activityId}
        WHERE id = #{id}
    </update>

    <select id="queryBelongManagerByDID" parameterType="String" resultType="int">
        SELECT belongManager FROM SYSTEM_DEVICE
        WHERE deviceID = #{deviceID}
    </select>

</mapper>