<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdz.ls.db.impl.SystemTemplateMapper">

    <sql id="Base_Column">
        id, templateName, templateUrl, addTime
    </sql>
    <insert id="addTemplate" parameterType="com.hzdz.ls.db.entity.SystemTemplate">
        INSERT INTO
          SYSTEM_TEMPLATE
        VALUES (null, #{templateName}, #{templateUrl}, #{addTime})
    </insert>

    <select id="queryAll" resultType="com.hzdz.ls.db.entity.SystemTemplate">
        SELECT *  FROM SYSTEM_TEMPLATE
    </select>


</mapper>