<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdz.ls.db.entity.SystemDevice">

    <sql id="Base_Column">
        id, deviceId, addTime, belongManager, updateTime, status, activityId
    </sql>
    <select id="queryActivityIdByDID" parameterType="String" resultType="String">
      SELECT  activityId FROM SYSTEM_DEVICE
      WHERE  deviceId = #{deviceId}
    </select>

</mapper>