<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdz.ls.db.impl.SystemActivityModuleMapMapper">

    <sql id="Base_Column">
        id, activityId, moduleId, addTime, sortNum
    </sql>

    <select id="queryModuleIdsById" parameterType="int" resultType="com.hzdz.ls.db.entity.SystemModule">
        SELECT b.id AS  a.moduleId,  FROM SYSTEM_ACTIVITY_MODULE_MAP a, SYSTEM_MODULE b
        WHERE a.moduleId = b.id AND activityId = #{activityId}
    </select>

    <insert id="addNewMap" parameterType="com.hzdz.ls.db.entity.SystemActivityModuleMap">
        INSERT INTO SYSTEM_ACTIVITY_MODULE_MAP (activityId, moduleId, addTime, sortNum)
        VALUES (#{activityId}, #{moduleId}, #{addTime}, #{sortNum})
    </insert>

    <delete id="deleteActivityById" parameterType="Integer">
        DELETE FROM SYSTEM_ACTIVITY_MODULE_MAP
        WHERE activityId = #{activityId}
    </delete>

    <select id="updateModuleOrder" parameterType="com.hzdz.ls.db.entity.SwapData" statementType="CALLABLE" resultType="Integer">
        CALL swapSortNum(#{id1}, #{id2}, #{result,mode=OUT,jdbcType=INTEGER})
    </select>

</mapper>