<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdz.ls.db.impl.SystemActivityMapper">

    <sql id="Base_Column">
        id, activityName, addTime, belongManager, status, shareImage, shareText, updateTime, templateId
    </sql>

    <select id="queryTemplateUrlById" parameterType="int" resultType="String">
        SELECT
          a.templateUrl
        FROM
          SYSTEM_TEMPLATE a, SYSTEM_ACTIVITY b
        WHERE
          b.id = #{activityId}
        AND a.id = b.templateId
    </select>

    <select id="selectActivityById" parameterType="Integer" resultType="com.hzdz.ls.db.entity.SystemActivity">
        SELECT <include refid="Base_Column"></include>
    </select>

    <insert id="addNewActivity" parameterType="com.hzdz.ls.db.entity.SystemActivity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SYSTEM_ACTIVITY (activityName, addTime, belongManager, shareImage, shareText, updateTime, templateId)
        VALUES (#{activityName}, #{addTime}, #{belongManager}, #{shareImage}, #{shareText}, #{updateTime}, #{templateId})
    </insert>

    <update id="updateShareImage" parameterType="com.hzdz.ls.db.entity.SystemActivity" >
        UPDATE SYSTEM_ACTIVITY SET shareImage = #{shareImage}, shareText = #{shareText}
        WHERE id = #{id}
    </update>

    <delete id="deleteActivity" parameterType="Integer">
        DELETE FROM SYSTEM_ACTIVITY
        WHERE id = ${id}
    </delete>

</mapper>