<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzdz.ls.db.impl.TopicMapper">
    <insert id="insertTopic" parameterType="com.hzdz.ls.db.entity.Topic" >
        INSERT INTO topic (IMAGE_URL, TOPIC_ID)
        VALUES (#{image_url}, #{topic_id})
    </insert>

</mapper>