<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzdz.ls.db.impl.TopicMapMapper">
    <insert id="insertTopicMap" parameterType="java.lang.String" >
        INSERT INTO topic_map (topicName, QRCode)
        VALUE (#{topicName}, #{QRCode})
    </insert>
    <update id="insertQRCodeToTopic" parameterType="Integer">
        UPDATE topic_map SET QRCode = #{QRCode}
        WHERE topic_id = #{topic_id}
    </update>
    <insert id="createTopic" parameterType="java.lang.String" >
        INSERT INTO topic_map (topicName)
        VALUE (#{topicName})
    </insert>
    <select id="queryById" parameterType="Integer" resultType="com.hzdz.ls.db.entity.TopicMap">
        SELECT * FROM topic_map
        WHERE topic_id = #{topic_id}
    </select>

    <select id="queryTopicByid" parameterType="Integer" resultType="String">
        SELECT topicName FROM topic_map
        WHERE topic_id = #{topic_id}
    </select>

    <select id="queryAll" resultType="com.hzdz.ls.db.entity.TopicMap">
        SELECT * FROM topic_map
    </select>
    <delete id="deleteTopic" parameterType="Integer">
        DELETE topic_map, topic  FROM topic_map
        LEFT JOIN topic
          ON topic_map.topic_id = topic.topic_id
        WHERE topic_map.topic_id = #{id}
    </delete>
</mapper>